body {
    background-color: white  #772014;
}
.scoop {
    text-align: center;
    font-size: x-large;
}

/* Tablets - header changes color */

@media screen and (max-width: 992px) {
    header {
        background: hsl(204, 86%, 53%);
    }
}
/*test


/* Large smartphones - navbar changes color */

@media screen and (max-width: 768px) {
    nav {
        background-color: #bb8588;
    }
}


/* Small smartphones - image placeholders change color */

@media screen and (max-width: 576px) {
    .sample-img {
        background-color: #8ac4ff;
    }
}