body {
    background-color: #772014;
}

.scoop {
    text-align: center;
    font-size: x-large;
}

.iceBody {
    background-image: url("icecream1.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.backbtn {
    font-size: 25px;
}

/* adds background color full view height of page*/
#styling {
    height: 100vh;
}


/* makes the column that displays the weather hidden*/
#weatherCol {
    visibility: hidden;

}

/* makes the column that displays the Ice Cream stores hidden*/
#iceCreamCol {
    visibility: hidden;
}

/* makes the reset button that resets the weather hidden*/
#resetBtn {
    visibility: hidden;
}

/* makes the store button hidden*/
.storeBtn {
visibility: hidden;
}

/* makes the text within this div hidden*/
#perfectDay{
    visibility: hidden;

}